body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: 1rem;
    flex-grow: 1;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 1rem;
    max-width: 60rem;
}

label {
    padding-right: 1rem;
}

/* Without this the checkbox spreads out, taking all available width*/
input[type="checkbox"] {
    width: 1rem;
}

#form-status {
    font-size: 2rem;
}

.status-success {
    color: green;
}

.status-error {
    color: red;
}

header {
    background-color: rgb(200, 200, 240);
    padding: 1rem;
}

footer {
    background-color: rgb(230, 200, 200);
    padding: 1rem;
}

.sort-button {
    margin: 0.5rem;
}

details {
    max-width: 80rem;
    margin-bottom: 1rem;
}

.table-row-wrapper {
    display: flex;
    gap: 3rem;
    width: 100%;
    justify-content: space-between;
}

.table-row-data {
    display: grid;
    grid-template-columns: 20rem auto;
}

.table-row-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.like-button::after {
    content: "♡";
}

.like-button.liked::after {
    content: "♥️";
}

dialog {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    padding: 20px;
}

dialog::backdrop {
    background-color: rgba(255, 255, 255, 0.75);
}

dialog form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

form input[type="submit"],
h2 {
    grid-column: 1 / 3;
}
